In [1]:
!pip install rpy2

Requirement already satisfied: rpy2 in /usr/local/lib/python3.7/dist-packages (3.4.5)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from rpy2) (1.5.1)
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from rpy2) (1.15.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from rpy2) (2.11.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from rpy2) (2018.9)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.10.0->rpy2) (2.21)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->rpy2) (2.0.1)

In [2]:
import rpy2.robjects as ro

#### Vetores

In [4]:
ro.r('x=c()')

<rpy2.rinterface_lib.sexp.NULLType object at 0x7f023a47fb90> [RTYPES.NILSXP]

In [6]:
ro.r('x[1]=5')

<rpy2.robjects.vectors.FloatVector object at 0x7f0238899190> [RTYPES.REALSXP]
R classes: ('numeric',)
[5.000000]

In [7]:
ro.r('x[2]=1')

<rpy2.robjects.vectors.FloatVector object at 0x7f0238971230> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000]

In [8]:
type(ro.r('x'))

rpy2.robjects.vectors.FloatVector

In [9]:
print(ro.r('x'))

[1] 5 1

In [10]:
ro.r('y = x * 3')

<rpy2.robjects.vectors.FloatVector object at 0x7f0238898d20> [RTYPES.REALSXP]
R classes: ('numeric',)
[15.000000, 3.000000]

In [11]:
print(ro.r('y'))

[1] 15  3

#### Funções

In [12]:
def soma(valor1, valor2):
    return valor1 + valor2

In [14]:
soma(4, 9)

13

In [15]:
#Similar em R
ro.r('''
soma <- function(valor1, valor2){
    return (valor1+valor2)
}
''')

<rpy2.robjects.functions.SignatureTranslatedFunction object at 0x7f0242868550> [RTYPES.CLOSXP]
R classes: ('function',)

In [25]:
r = ro.r('soma(4, 9)')
r

<rpy2.robjects.vectors.FloatVector object at 0x7f0231aa51e0> [RTYPES.REALSXP]
R classes: ('numeric',)
[13.000000]

In [26]:
type(r)

rpy2.robjects.vectors.FloatVector

In [23]:
r_soma = ro.globalenv['soma']

In [27]:
type(r_soma)

rpy2.robjects.functions.SignatureTranslatedFunction

In [24]:
print(r_soma(4, 10))

[1] 14

In [29]:
import numpy as np
r = np.array(r)

In [30]:
type(r)

numpy.ndarray

In [31]:
r

array([13.])